<div>
<h2>Paves De Saumon En Croute De Noix D’amande</h2>
<div> <p>Seared Salmon topped with almonds and served on a bed of tri colors baby carrots, Parisienne potatoes, braised Cipollini onions, chervil</p></div>
</div>
<div>
<h2> Blanquette De Veau Au Champignons De Paris</h2>
<div> <p>Veal stew with white mushrooms and zucchini gratin in a white wine sauce</p></div>
</div>
<div>
<h2>Tofu Au Curry</h2>
<div> <p>Tofu marinated in a curry coconut sauce with vegetables medley and grilled polenta</p></div>
</div>
<div>
<h2>Paves De Bar Et Mache</h2>
<div> <p>Pan seared sea Bass topped with Mache salad and Ratatouille Lyonnaise</p></div>
</div>
<div>
<h2>Entrecote A La Sauce Bordelaise</h2>
<div> <p>Sirloin steaks with marinated cherry tomatoes, fava beans served with a red wine sauce</p></div>
</div>
<div>
<h2> Lasagne De Vegeteaux Primeurs</h2>
<div> <p>Vegetables lasagna topped with cashew cream</p></div>
</div>
<div>
<h2>Boeuf Bourguignon</h2>
<div> <p>Bourguignon beef with shredded Brussel sprouts</p></div>
</div>
<div>
<h2> Tournedos Et Coeur D’artichaud</h2>
<div> <p>Fillet steaks with artichokes, wild mushrooms served with a sauce a l’orange</p></div>
</div>
<div>
<h2>  Side Dishes</h2>
<div> <p>Parisienne potatoes, Forbidden Rice, Grilled Polenta, wild rice, gratin dauphinoise</p></div>
</div>
